body {
    background-color: rgb(14, 118, 126);
}

.input {
    width:30%;
    height:10%;
    padding:10px;
    font-size:40px;
    position:absolute;
    left:50%;
    transform: translate(-50%); 
}